@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* body {
  background-color: rgba(222, 180, 225, 0.325);
}
*::-moz-selection {
  background-color: rgba(0, 0, 0, 0.241);
  color: rgba(210, 161, 255, 0.651);
}
*::selection {
  background-color: rgba(0, 0, 0, 0.241);
  color: rgba(210, 161, 255, 0.651);
}

.logo-home {
  margin-top: 1rem;
  width: 150px;
  height: 40px;
}

.bg-custom-color {
  list-style-type: none;
  background-color: rgba(136, 5, 146, 0.942);
  padding: 1;
}

.nav-color-white {
  color: white;
  font-weight: 800;
  font-family: "Raleway", sans-serif;
  font: 1rem;
  text-decoration: none;
}

.navbar-nav {
  list-style-type: none;
  padding: 1;
  height: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 2rem;
}

.home {
  padding: 15rem;
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 3rem;
  font-weight: normal;
  font-style: italic;
  text-align: center;
  text-decoration: none;
  background-image: url("../Img/home.jpg");
  background-repeat: no-repeat;
  background-color: rgba(210, 161, 255, 0.651);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.about-us {
  padding: 5rem;
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  font-style: italic;
  text-align: center;
  text-decoration: none;
  background-image: url("../Img/about us.jpg");
  background-repeat: no-repeat;
  background-color: rgba(210, 161, 255, 0.651);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.tarjetas {
  border: 3px solid purple;
  margin: 2rem;
  display: flex;
  gap: 1rem;
}
.tarjetas .tarjeta {
  flex: 1;
}
.tarjetas .tarjeta .img {
  width: 100%;
}
.tarjetas .personas {
  text-align: center;
}

.imagenes-personas {
  transition: 1s;
}

.imagenes-personas:hover {
  transform: scale(1.1);
}

.grid {
  box-sizing: border-box;
  background-color: rgba(222, 180, 225, 0.325);
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "título título clients1 cloud" "título título security AI";
}

.título {
  padding: 15rem;
  color: hsl(0, 0%, 100%);
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  font-weight: normal;
  font-style: italic;
  text-align: center;
  text-decoration: none;
  background-image: url("../Img/ss.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  grid-area: título;
}

.clients1 {
  color: black;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  grid-area: clients1;
}

.imagen {
  width: 250px;
  height: auto;
}

.cloud {
  color: black;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  grid-area: cloud;
}

.security {
  color: black;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  grid-area: security;
}

.AI {
  color: black;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  grid-area: AI;
}

.rotate-scale-up {
  animation: rotate-scale-up 0.65s linear both;
}

/* ----------------------------------------------
   * Generated by Animista on 2023-8-29 17:3:28
   * Licensed under FreeBSD License.
   * See http://animista.net/license for more info. 
   * w: http://animista.net, t: @cssanimista
   * ---------------------------------------------- */
/**
   * ----------------------------------------
   * animation rotate-scale-up
   * ----------------------------------------
   */
@keyframes rotate-scale-up {
  0% {
    transform: scale(1) rotateZ(0);
  }
  50% {
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    transform: scale(1) rotateZ(360deg);
  }
}
.clients {
  color: black;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-align: center;
  margin: 2rem;
  gap: 7rem;
  align-items: center;
}
.clients .carousel-inner {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contact1 {
  padding: 2rem;
  color: rgb(121, 34, 121);
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
  font-style: italic;
  text-align: center;
  text-decoration: underline;
}

.texto {
  padding: 1.5rem;
  font-family: "Raleway", sans-serif;
  font-size: 0.85rem;
  font-weight: normal;
  font-style: normal;
  text-align: center;
}

.map-container {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
}

.contact form {
  font-family: "Raleway", sans-serif;
  font-size: 0.9rem;
  font-weight: normal;
  font-style: normal;
  width: 80%;
  margin: 0 auto;
}

.contact label,
.contact input,
.contact textarea {
  display: block;
  margin-bottom: 10px;
  width: 100%;
}

.contact button {
  font-family: "Raleway", sans-serif;
  font-size: 0.9rem;
  font-weight: normal;
  font-style: normal;
  background-color: rgba(123, 19, 220, 0.651);
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.contact button:hover {
  background-color: rgba(210, 161, 255, 0.651);
}

footer {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: small;
}

@media screen and (max-width: 1000px) {
  .grid {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  .título {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 2rem;
  }
}
@media screen and (max-width: 650px) {
  .about-us {
    display: flex;
    flex-direction: column;
    padding-inline: 2rem;
    padding-top: 3rem;
  }
  .tarjetas {
    display: flex;
    flex-direction: column;
    padding-inline: 2rem;
    padding-top: 3rem;
  }
  .map-container {
    width: 100%;
    padding: 10px;
  }
  .mapa {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 480px) {
  .home {
    padding-inline: 2rem;
    padding-top: 3rem;
    font-size: 2.5rem;
  }
  .nav-color-white {
    color: white;
    font-weight: small;
    font-family: "Raleway", sans-serif;
    font: 0.5rem;
    text-decoration: none;
  }
  .navbar-nav {
    list-style-type: none;
    padding: 0.5rem;
    height: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 0.5rem;
  }
  .grid {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  .título {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 2rem;
  }
}/*# sourceMappingURL=main.css.map */