.logo-home {
    margin-top: 1rem;
    width: 150px;
    height: 40px;
}


.bg-custom-color {
    list-style-type: none;
    background-color: rgba(136, 5, 146, 0.942);
    padding: 1;
}

.nav-color-white {
    color: white;
    font-weight: 800;
    font-family: "Raleway", sans-serif;
    font: 1rem;
    text-decoration: none;
}

.navbar-nav {
    list-style-type: none;
    padding: 1;
    height: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 2rem;
}