@media screen and (max-width: 1000px) {
    .grid {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .título {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        padding: 2rem;
    }
}

@media screen and (max-width:650px) {

    .about-us {
        display: flex;
        flex-direction: column;
        padding-inline: 2rem;
        padding-top: 3rem;
    }

    .tarjetas {
        display: flex;
        flex-direction: column;
        padding-inline: 2rem;
        padding-top: 3rem;
    }

    
    .map-container {
        width: 100%;
        /* Ancho del contenedor del mapa al 100% */
        padding: 10px;
        /* Agregar espaciado si es necesario */
    }

    .mapa {
        width: 100%;
        /* Ancho del mapa al 100% */
        height: auto;
        /* Altura automática para mantener la proporción */
    }
}

@media screen and (max-width:480px) {
    .home {
        padding-inline: 2rem;
        padding-top: 3rem;
        font-size: 2.5rem;
    }

    .grid {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .título {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        padding: 2rem;
    }

    .nav-color-white {
        color: white;
        font-weight: small;
        font-family: "Raleway", sans-serif;
        font: 1rem;
        text-decoration: none;
    }

    .navbar-nav {
        list-style-type: none;
        padding: .5rem;
        height: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: .5rem;
    }

}